*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background:rgb(253, 198, 188);
    padding: 10px;
    color: rgb(15, 15, 14);
  
}
.todolist{
    width: 100%;
    max-width: 540px;
    background: #ede8e8;
    padding: 40px 30px 70px;
    border-radius: 10px;
    margin: 100px auto 20px;
}
.todolist h2{
    color: black;
    display: flex;
    align-items: center;
}
.todolist h2 img{
    margin-left: 10px;
    
}
.add{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.add input{
    width: 85%;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border: 1px solid #ddd;
    background-color: rgb(242, 227, 227);
    color: rgb(47, 44, 44);
    font-size: large;
    outline: none;
    background: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
button{
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(253, 90, 30);
    color: white;
    font-size: large;
    width: 70px;
    cursor: pointer; 
    
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top:5px;
    width: 40px;
    height:40px ;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0
}